bonobo==0.6.2
bonobo-sqlalchemy==0.6.0
click==6.7
cryptography==2.3
Flask==1.0.2
msgpack==0.5.6
-e external/py-eos-api
ipfsapi==0.4.3
lxml==4.2.4
pyopenssl==17.5.0
pytest==3.5.1
pyyaml == 4.2b4
requests==2.19.0
SQLAlchemy==1.2.8
xmljson==0.1.9
