apt-get update
apt-get install sudo
apt-get install git-core
apt-get install curl
apt-get install mysql-server
apt-get install python3 
apt-get install python3-pip
apt-get install libmysqlclient-dev

pip3 install SQLAlchemy
pip3 install mysqlclient
pip3 install bonobo[sqlalchemy]
pip3 install -U python-dotenv psycopg2 awesome-slugify

/etc/init.d/mysql start
mysql < heartbit_database.mysql
python3 transform_data.py
